.myposts{
  padding-left: 10px;
}
.posts{
   margin-top: 10px;
}
.form button{
    text-decoration: none;
    background-color: #4072cf;
    border: 2px solid #020202;
    color: rgb(255, 255, 255);
}