.formControl.error input,
.formControl.error textarea {
  border: solid rgb(233, 29, 29) 2px;
}

.formControl.error span {
  color: rgb(214, 16, 16);
}
.formSummaryError {
  border: solid rgb(233, 29, 29) 2px;
  padding: 5px;
  color: rgb(161, 12, 12);
  width: 300px;
}

.formContainer,
h1 {
  text-align: center;
}
.formCheck {
  display: grid;
  grid-template-columns: 10% 90%;
}
.checkbox {
  padding-right: 50px;
}
.buttonLoginBlock {
  padding: 5px;
}
.fieldLogin {
  padding: 5px;
}
.buttonLogin {
  text-decoration: none;
  background-color: #4072cf;
  border: 2px solid #020202;
  color: rgb(255, 255, 255);
}
.formContainer {
  display: grid;
  justify-items: center;
}
