.descriptionBlock {
  padding: 10px;
}
.descriptionBlock img {
  width: 300px;
  height: 250px;
  border: solid 1px;
}

.fileUpload {
  background: #00bcbe;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 10px 100px;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
  text-align: center;
  width: 100px;
  cursor: pointer;
}
.fileUpload:hover,
.fileUpload:active,
.fileUpload:focus {
  background: #00a2a4;
  cursor: pointer;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 148px;
  height: 46px;
  cursor: pointer;
}

input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.contact{
  padding-left: 15px;
}
.formSummaryError {
  border: solid rgb(233, 29, 29) 2px;
  padding: 5px;
  color: rgb(161, 12, 12);
}